body {
  margin: 0;
  font-family: arial;
  background-color: blue;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16 16;
  text-descoration: none;
}

li a:hover {
  background-color: grey;
}
